@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-menu {
  transform: translateY(-100%);
}

.show-menu {
  transform: translateY(0%);
}

.glass {
  background: rgba(255, 255, 255, 0.88);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.glass-thin {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.fade-up {
  animation: fade linear;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
}

@keyframes fade {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
  0% {
    opacity: 0;
  }
}
